.destiantion-record{
	margin-bottom:2px;
	//outline:2px solid red;
	    width: 100%;
	    position: relative;
	    .clickOverlay{
	    	width: 100%;
	    	height: 100%;
	    	// outline:black 2px solid ;
	    	position:absolute;
	    }
	.departures,
	.transboarding,
	.social-attribute{
		width: 100%
	}

	.departures{
		//outline: 1px dotted violet;
		display: flex;
		flex-direction:row;
		.department{
			padding:14px 0px;
			font-size: 1.3em;
			width: 30%;
			text-align: center;
			display: flex;
			align-items:center;
			justify-content: center;
			flex-direction: column;
			.id-wrapper{
				color: $font-color;
			    background: $destination-color;
				//border:black 1px solid ;
				width:45px;
				height:31px;
				border-radius:30px;
				display:flex;
				flex-direction:row;
				align-items:center;
				justify-content:center;
				animation: appears .5s ;
				font-size: .7em;
				.id-border{
					width:43px;
					height:29px;
					border-radius:25px;
					border:rgba(29, 28, 26, 0.27) 1px solid;
					display:flex;
					flex-direction:row;
					align-items:center;
					justify-content:center;
				}
			}

		}
		.resume{
			width: 70%;
			position:relative;
			.record-value,.record-graph{
				width: 100%;
				position: absolute;
				display: flex;
				flex-direction: row;
				height: 100%;
				-webkit-transition: all .3s; /* Safari */
    			transition: all .3s;
				
				.background{
					width: 100%;
					padding-left: 3px;
					background: $background-color;
				    -webkit-transition: all .3s; /* Safari */
    				transition: all .3s;
    				height: 100%;
				}

				.value{
					width: 100%;
				}
				.background.tren, .value.tren{
					 background:$tren-color;
				};
			
				.background.colectivo, .value.colectivo{
					background:$colectivo-color;
				}
			
				.background.subte, .value.subte{
					background:$subte-color;
				}
				// .value{
				// 	width:0;
				// }
			}

			.record-graph{
				    right: 0;
			    .total{
			    	position: absolute;
				    width: 100%;
				    height: 100%;
				    text-align: center;
				    padding-top: 10px;
				    font-size: 28px;
				    color: white;
			    }
					.background{
						opacity:1;
						transition: all .3s;
					}
				// .background.tren{
				// 	 background:$tren-color;
				// };
			
				// .background.colectivo{
				// 	background:$colectivo-color;
				// }
			
				// .background.subte{
				// 	background:$subte-color;
				// }
			}
			.record-value.total{
				.background{
					background:rgb(245, 85, 54);
					}
				}
		}

		.resume:hover{
				.record-value{
					width: 50%;
					div{
						width:100%;
					}
				}
				.record-graph{
					//outline:2px solid white;
					width: 50%;
					.background{
						//opacity:0;
					}

				}
		}
	}


}