/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower



@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/gotham.eot");
  src: url("../assets/fonts/gotham.eot?#iefix") format("embedded-opentype"), 
       url("../assets/fonts/gotham.svg#Gotham") format("svg"), 
       url("../assets/fonts/gotham.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}


html,body,ui-view{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}




.leaflet-tile{
	  opacity:0;
    transition-property: all !important;
    transition-duration: .5s !important;
  // transform: scale(.0)!important;
}


.leaflet-tile-loaded{
	opacity:1;
  // transform: scale(1)!important;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector





/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container.flipped .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {

}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}