section{
	background:#FDD306;
	height:100%;
	background: url("/assets/images/ba-logo-lema.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;

	#map{
		height:100%;
		width: 100%;
		position: absolute;
	}



path.departamento{
	transition-property:color,stroke, background;
	transition-duration:1s;	
}

path.departamento:hover{
	stroke:white;
	stroke-width:4;
	fill-opacity:1;

	}


	.left-dock,.right-dock{
		font-family: 'Gotham';
		z-index:100;
		position:absolute;
		height: 100%;
   		transition-property: all;
    	transition-duration: .5s;
    	min-width: 15vw;

    	display: flex;
	    align-items: center;
	    justify-content: center;
	    .flipper{
			min-width: 400px;
			height:100%;
			height: 70vh;    	
	    }
		.right-panel,.left-panel{
			width: 100%;
			// padding:.5em;
			max-height: 70vh;
			background: #F2F0ED;
			.panel-top{
				height: 1em;
				width: 100%;
				background:#FDD306;
			}
			.panel-title{

				color:#1D1C1A;
				padding:1em 1em;
				font-size: 1.2em;
				letter-spacing: .1em;
					.volver{
						float:right;
						color:gray;
					}
					.volver:hover{
							color:#1D1C1A;
					}

			}
			.panel-line{
				height: 3px;
				width: 98%;
				margin: .25em auto;
				background: -prefix-linear-gradient(left, #FDD306, #00B9F1); 
				background: linear-gradient(to right,#FDD306, #00B9F1);
				border-radius:5px;
			}

			.origin-list,.destination-list{
				list-style: none;
				padding:.5em;
				overflow-y: scroll;
				max-height: 60vh;
				background: #F2F0ED;
				.origin-item-wrapper{}
			}

			.origin-list{}
			.destination-list{}

			.panel-content{
				padding:1em;
			}

		}
	}

	.right-dock{
		right:1em;
		
		.right-panel{
			// background:rgba(255,0,0,1);
		}
	}

	.left-dock{
		left:1em;

		.left-panel{
			// background:rgba(255,255,0,1);
		}
	}
}


