<div class="right-dock">
	<div class="right-panel">
		<div class="destination-order">
			<div class="button">Total</div>
			<div class="button">Tren</div>
			<div class="button">Subte</div>
			<div class="button">Colectivo</div>

		</div>
		<ul class="destination-list">
			<li class=" destination-item">
				<div class="destination-title">
					
				</div>
				<div class="destination-info">
					<span class="highlight">
						8888888
					</span>
					<span class="resume">
						
						<span class="tren">111111111</span>
						<span class="coelctivo">222222222</span>
						<span class="subte">33333333</span>


					</span>

				</div>


			</li>
		</ul>
	</div>
</div>