<div class="right-dock">
	<div class="right-panel">
		<div class="panel-top"></div>
		<div class="panel-title">RESUMEN</div>
		<div class="panel-line"></div>		
		<ul class="destination-list">
			<li class="destination-item" ng-repeat="record in model.matrix track by $index" ng-mouseover="record.highlight()" ng-mouseleave="record.unHighlight()">
				<div class="destination-info">
					<span class="highlight">
							{{record.depto_origen}}
					</span>
					<span class="resume">
						<span class="tren">		{{record.cantidad_tren}}</span>
						<span class="coelctivo">{{record.cantidad_bus}}</span>
						<span class="subte">{{record.cantidad_subte}}</span>
						<span class="total">{{record.total}}</span>

					</span>
				</div>
			</li>
		</ul>
	</div>
</div>
